#description{
    position: absolute;
    top: 40%;
    padding: 0%;
    padding-top: 5%; 
    font-family: 'avenir';
    font-size: 13;
    line-height: 2;
}   

.fade {
    transition: all linear 500ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}

#description{
    width:75%;
    margin-left: 12.5%;
}

#description-container{
    width: 75%;
    float: left;
}

#description-container.full{
    max-width: 80%;
    float: left;
}

#image-container{
    width: 20%;
    float: right;
}

#image-container img{
    width: 100%;
}

#defaultCanvas0{
   margin-left: 12.5%;
}


.filter{
    font-family: 'avenir';
    color: white;
    background-color: grey;
    width: 100px;
    font-size: 10px;
    padding: 3px;
    margin: 5px;
    position: absolute;
}

#filter-container{

}




